body{
    background: rgb(174,230,238);
    background: radial-gradient(circle, rgba(174,230,238,1) 0%, rgba(148,187,233,1) 100%);
}
#opening-title{
    font-size: 24;
    font-family: Arial;
    display: flex;
    justify-content: center;
}
#from{
    font-size: medium;
    font-family: Arial, Helvetica;
}
a {
    text-decoration: none;
    color: black;
  }
nav{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}  
.WI{
    font-family: sans-serif;
    font-size: 15px;
    background-color: lightseagreen;
    border-radius: 10px;
}

.slider{
    aspect-ratio: 16/14;
    width: 300px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.slider img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;    
}