body{
    background: rgb(174,230,238);
    background: radial-gradient(circle, rgba(174,230,238,1) 0%, rgba(148,187,233,1) 100%);
}
#opening-title{
    font-size: 30;
    font-family: Arial;
    display: flex;
    justify-content: center;
}
#from{
    font-size: medium;
    font-family: Arial, Helvetica;
}

a {
    text-decoration: none;
    color: black;
  }
nav{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}  
#WI{
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 5px;
    width: 700px;
    display: block;
    position: relative;
    margin: 10px;
    margin-left: 110px;
    background-color: rgba(211, 211, 211, 0.405);
    border: solid 1px black;
    text-align: justify;
    padding: 5px 10px;
}

.slider{
    aspect-ratio: 20/12;
    width: 300px;
    position: absolute;
    right: 150px;
    top: 20%;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    margin: 10px;
}

.slider img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;   
    border: 1px solid black; 
}

#GDP{
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 5px;
    width: 90%;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgba(211, 211, 211, 0.405);
    border: solid 1px black;
    text-align: justify;
    padding: 5px 10px;
}

#Gebieten{
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 5px;
    width: 700px;
    display: block;
    position: relative;
    margin-top: 40px;
    margin-left: 490px;
    margin-bottom: 40px;
    background-color: rgba(211, 211, 211, 0.405);
    border: solid 1px black;
    text-align: justify;
    padding: 5px 10px;
}

#Wichtig{
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 5px;
    width: 90%;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgba(211, 211, 211, 0.405);
    border: solid 1px black;
    text-align: justify;
    padding: 5px 10px;
}
#groß{
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 5px;
    width: 90%;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgba(211, 211, 211, 0.405);
    border: solid 1px black;
    text-align: justify;
    padding: 5px 10px;
}

.slider2{
    aspect-ratio: 20/12;
    width: 300px;
    position: absolute;
    left: 100px;
    top: 190px;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    margin: 10px;
}

.slider2 img{
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;   
    border: 1px solid black; 
}
